<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
</head>
<body>
<h1>Report</h1>
<table>
    <tr>
        <th>Component Name
        </th>
         <th>Component Value
        </th>
         <th>Measured Time
        </th>
    </tr>
    {% for eachEntry in data %}
    <tr>
        <td>{{eachEntry.componentName}}</td>
        <td>{{eachEntry.componentValue}}</td>
        <td>{{eachEntry.measuredDateTime}}</td>
    </tr>
    {% endfor %}


</table>
  <a href="/">Home</a>

</body>
</html>